<h1>There are <%= Contact.all.length %> contacts</h1>

<ul>
  <% Contact.all.each do |contact| %>
  <li class="details"><a class="name" href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %> (<%= contact.email %>)</a><br>
    <a href="/contacts/<%= contact.id %>/edit">Edit</a> | <a href="/contacts/<%= contact.id %>">Delete</a></li>

  <% end %>
</ul>
